.VideoFooter {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0 1rem;
    &__text {
        display: flex;
        align-items: center;
        & h3 {
            font-weight: 100;
            margin-left: 10px;
            font-size: 16px;
        }
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        & div.left {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & div.right > * {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        & > div > * {
            margin-right: 5px;
            &:last-of-type {
                margin-right: 0;
            }
        }
        & > div:last-of-type {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    & > div {
        padding: 0 1rem;
        &:last-of-type {
            padding-top: 1rem;
        }
    }
}
