.VideoCard {
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    padding-bottom: 1px;
    background-color: black;

    &__topbar {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.MuiSvgIcon-root {
    color: #fff;
}
